:root{
    --backgroundColor : rgb(246,249,254);
    --backgroundTitle : rgb(231,241,253);
    --color : rgb(16,110,234);
}

@media (min-width: 1200px){
    .lg-size{
        width: 22%;
    }
}

.header-bg {
    background-image: url("../imgs/hero-bg.jpg");
    background-size: cover;
}

  .progress-percentage {
    text-align: right;
  }

.button{
  background-color: #e7f1fd;
}

.card{
border: 2px solid #e9f5f9 ;
}

.card:hover{
box-shadow: 0 1px 2px rgba(0,0,0,0.3);
transition: box-shadow 0.3s ease-in-out;
}

.testimonial-img{
width: 100px;
border-radius: 50%;
border:6px solid rgba(255, 255, 255, 0.15);
margin: 0 auto;
}

.testimg{
margin-top: 80px;
height: 350px;

}

.testimonial{
background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url("../imgs/testimonials-bg.jpg") center center no-repeat;
background-position: center center;
background-size: cover;
position: relative;
filter: brightness(60%);

}

.icon-width{
    width: 50px;
    height: 50px;
    border: .5px solid rgba(128, 128, 128, 0.84);
}

.background{
    background-image: url("../imgs/portfolio/portfolio-1.jpg");
}

.background-color{
    background-color: rgba(0, 0, 0, 0.485);
}

.ask{
    background-color: var(--backgroundColor);
}

.title{
    background-color: var(--backgroundTitle);
    
}

.title-color{
    color: var(--backgroundTitle);
}

.style-button-none{
    background-color: rgba(240, 248, 255, 0);
    border: none;
}